*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --dark:#0F0F0F;
    --light: #FFFFFF;
    --light-grey: #b0b0b0;
    --accent: #56bcb7; 
}

body {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans;
}

a, a:link, a:visited {
    text-decoration: none;
    color: var(--light);
}

a:hover, a:focus {
    color: var(--accent);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    min-height: 100dvh;
    padding: 5dvh 0;
}

.logo--box {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.logo {
    display: inline-block;
    width: 2em;
    margin-right: 1em;
}

h1 {
    display: inline-block;
    letter-spacing: -0.05rem;
    margin: 0;
    font-size: 2.125rem;
}

hr {
    stroke-width: 1.5px;
    color: var(--accent);
    width: 100%;
    border-radius: 2px;
}

p {
    margin: 0;
    font-size: 1rem;
    color: var(--light-grey);
}

.description {
    margin-bottom: 2em;
}

.link--box {
    display: flex;
    flex-direction: column;
    margin: 2em auto 2.5em auto;
}

.social--box {
    display: flex;
    justify-content: start;
    align-items: center;
}

.social--box:first-of-type {
    margin-bottom: 1em;
}

.link--logo {
    width: 2.75em;
    stroke-width: 5px;
    margin-right: 1em;
    filter: invert(95%) sepia(74%) saturate(7024%) hue-rotate(149deg) brightness(83%) contrast(82%);
}

.social--box a {
    font-size: 1rem;
}

.btn {
    display: block;
    padding: 1em 2em;
    border: solid 1.5px var(--accent);
    border-radius: .5em;
}

.btn:first-of-type {
    margin-bottom: 1em;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent);
    color: var(--dark);
    font-weight: bold;
}